<div class="index">
  <p style="color: green"><%= notice %></p>

  <h1>Shelters</h1>

  <div id="shelters">
    <% @shelters.each do |shelter| %>
      <div class="card">
        <div class="card-body">
          <%= render shelter %>
        </div>
        <div class="card-footer">
          <%= button_tag "Show", class: "btn btn-primary my-action", onclick: "window.location.href='#{shelter_path(shelter)}'" %>
        </div>
      </div>
    <% end %>
  </div>

  <%= button_tag "New shelter", class: "btn btn-primary my-create-action", onclick: "window.location.href='#{new_shelter_path}'" %>
</div>
