<div class="index">
  <p style="color: green"><%= notice %></p>

  <h1>Application forms</h1>

  <div id="application_forms">
    <% @application_forms.each do |application_form| %>
      <div class="card">
        <div class="card-body">
          <%= render application_form %>
        </div>
        <div class="card-footer">
          <%= button_tag "Show", class: "btn btn-primary my-action", onclick: "window.location.href='#{application_form_path(application_form)}'" %>
        </div>
      </div>
    <% end %>
  </div>

  <%= button_tag "New form", class: "btn btn-primary my-create-action", onclick: "window.location.href='#{new_application_form_path}'" %>
</div>