<div id="<%= dom_id species %>">
  <p>
    <strong>ID:</strong>
    <%= species.id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= species.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= species.description %>
  </p>

</div>
