<div class="index">
  <p style="color: green"><%= notice %></p>

  <h1>Species</h1>

  <div id="species">
    <% @species.each do |species| %>
      <div class="card">
        <div class="card-body">
          <%= render species %>
        </div>
        <div class="card-footer">
          <%= button_tag "Show", class: "btn btn-primary my-action", onclick: "window.location.href='#{species_path(species)}'" %>
        </div>
      </div>
    <% end %>
  </div>

  <%= button_tag "New species", class: "btn btn-primary my-create-action", onclick: "window.location.href='#{new_species_path}'" %>
</div>