<div class="new">
  <h1>New species</h1>

  <%= render "form", species: @species %>

  <%= button_tag "<<< Back to species", class: "btn btn-primary my-back-action", onclick: "window.location.href='#{species_index_path}'" %>
</div>