<div class="edit">
  <h1>Editing cage</h1>

  <%= render "form", cage: @cage %>

  <%= button_tag "<<< Back to species", class: "btn btn-primary my-back-action", onclick: "window.location.href='#{cages_path}'" %>
</div>