<div class="index">
  <p style="color: green"><%= notice %></p>

  <h1>Animals</h1>

  <div id="animals">
    <% @animals.each do |animal| %>
      <div class="card">
        <div class="card-body">
          <%= render animal %>
        </div>
        <div class="card-footer">
          <%= button_tag "Show", class: "btn btn-primary my-action", onclick: "window.location.href='#{animal_path(animal)}'" %>
        </div>
      </div>
    <% end %>
  </div>

  <%= button_tag "New animal", class: "btn btn-primary my-create-action", onclick: "window.location.href='#{new_animal_path}'" %>
</div>