<div class="new">
  <h1>New animal</h1>

  <%= render "form", animal: @animal %>

  <%= button_tag "<<< Back to animals", class: "btn btn-primary my-back-action", onclick: "window.location.href='#{animals_path}'" %>
</div>