/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 :root {
    --color1: #234e60;
    --color2: #186271;
    --color3: #1b878c;
    --color4: #36b8ae;
    --color5: #6ffad5;
 }
 
 body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--color2);
 }

 .my-header {
   background-color: var(--color1);
   height: 60px;
   min-height: 60px;
   display:flex;
   flex-direction: row;
 }

 .my-header .menu,
 .my-header .devise-container {
   display:flex;
   align-items: center;
   flex: 1;
 }

 .my-header .devise-container {
   justify-content: flex-end;
   margin-right: 25px;
 }


 .my-header .menu .my-menu-action,
 .my-header .devise-container .my-menu-action {
   border-radius: 20px;
   height: 40px;
   width: 100px;
   display: flex;
   justify-content: center;
   align-self: center;
   margin-left:10px;
   color: black;
   border-color: var(--color4);
   background-color: var(--color4);
 }

 .my-header .menu .my-menu-action:hover,
 .my-header .devise-container .my-menu-action:hover {
   color: white;
   border-color: var(--color2);
   background-color: var(--color2);
 }

 .my-header .menu .my-menu-action:focus,
 .my-header .devise-container .my-menu-action:focus,
 .my-header .menu .my-menu-action:active,
 .my-header .devise-container .my-menu-action:active {
   color: white;
   border-color: white;
   background-color: var(--color2);

 }
 .myHeader .menu{
   display: flex;
 }

 .myHeader .devise-container {
   display: flex;
 }

 .index,
 .new,
 .edit,
 .show,
 #devise-register,
 #devise-login  {
    width: inherit;
    height: inherit;
    background-color: var(--color3);
 }

 #devise-register,
 #devise-login {
   align-items: center;
   display: flex;
 }

 .index h1,
 .new h1,
 .edit h1,
 .show h1 {
    width: 100%;
    text-align: center;
    margin: 20px 0;
 }

 .card {
    display:flex;
    align-self: center;
    min-width: 300px !important;
    width: fit-content;
    margin: auto;
    border: 1px solid black !important;
    border-radius: 10px !important;
    background-color: var(--color4) !important;
 }

 .card .card-head h2{
   width: 100%;
   text-align: center;
 }

 .card .card-footer {
    border-color: black;
 }

 .card-body .my-submit {
    display: flex;
    width: 100%;
    margin-top: 15px;
    color: black;
    border-color: var(--color5);
    background-color: var(--color5);
 }

 .card-body .my-submit:hover {
    color: white;
    border-color: var(--color2);
    background-color: var(--color2);
 }

 .card-body .my-submit:focus,
 .card-body .my-submit:active {
    color: white !important;
    border-color: white !important;
    background-color: var(--color2) !important;
 }

 .card-body .cancel-edit {
    margin-top: 15px;
 }

 .card-body .cancel-edit .my-action {
    justify-content: center;
 }

 .card-footer .my-action,
 .card-body .cancel-edit .my-action {
    display: flex;
    width: 100%;
    margin-top: 15px;
    color: black;
    border-color: var(--color5);
    background-color: var(--color5);
 }

 .card-footer .my-action:first-of-type {
    margin-top: 8px;
 }

 .card-footer .my-action:last-of-type {
    margin: 15px 0;
 }

 .card-footer .my-action:hover,
 .card-body .cancel-edit .my-action:hover {
    color: white;
    border-color: var(--color2);
    background-color: var(--color2);
 }


 .card-footer .my-action:focus,
 .card-footer .my-action:active,
 .card-body .cancel-edit .my-action:focus,
 .card-body .cancel-edit .my-action:active {
    color: white;
    border-color: white;
    background-color: var(--color2);
 }


 .my-back-action {
    position: absolute;
    top: 83px;
    left: 20px;
    color: black !important;
    border: 1px solid var(--color5) !important;
    border-radius: 10px !important;
    background-color: var(--color5) !important;
 }

 .my-create-action {
    position: absolute;
    top: 83px;
    right: 50px;
    color: black !important;
    border: 1px solid var(--color5) !important;
    border-radius: 10px !important;
    background-color: var(--color5) !important;
 }

 .my-delete-action {

 }

 .my-back-action:hover,
 .my-create-action:hover,
 .my-delete-action:hover {
    color: white !important;
    border-color: var(--color2) !important;
    background-color: var(--color2) !important;
 }

 .my-back-action:focus,
 .my-back-action:active,
 .my-create-action:focus,
 .my-create-action:active,
 .my-delete-action:focus,
 .my-delete-action:active {
    color: white !important;
    border-color: white !important;
    background-color: var(--color2) !important;
 }

 #animals,
 #application_forms,
 #cages,
 #employees,
 #shelters,
 #species {
    margin: 0 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 50px 10px;
    justify-content: center;
    overflow-y: scroll;
    height: calc(100% - 144px);
 }

 .full-width-centered {
   width: 100%;
   display: flex;
   justify-content: center;
 }